@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: true;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  interpolate-size: allow-keywords;
}

body {
  font-size: 20px;
  color: #0F1F29;
}
